# VS Code
.vscode/

# backend dependencies
backend/node_modules/

# frontend dependencies
frontend/node_modules/

# backend env
backend/.env
backend/.next
backend/.env.local

# frontend env
frontend/.env
frontend/.env.local
frontend/.next
.env.local
.env*